


.install {
    background :   #80ffac;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }
   
   .e {
   
    width : 5px ;
    height :  6px;
   
    
   }
   
   .file {
    background :   #2b82ff;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }
  
  
  .site {
    background :   #ff4055;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }
  
  
  
   .appV1  {
       
       background : whitesmoke;
       color : black;
       padding : 0 50px;
       border-radius : 25px ;
         width: 900px;
   }
  
   .page{
    background :   #5cddc6;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }




.app {
  background : whitesmoke;
       color : black;
       
       border-radius : 25px ;
       text-align: center;
       padding : 0 50px;
      width: 900px;

       align-items: center;
       justify-content: center;
       }
      
      
