 {"openapi":"3.0.2","info":{"title":"GDSS","description":"This is the Generic Datapoint Storage Service","version":"1.2.3"},"servers":[{"url":"https://public-api.meteofrance.fr/public/DPVigilance/v1"}],"security":[{"default":[]}],"tags":[{"name":"ProduitsVigilance","description":"Services de téléchargement du flux de la Vigilance constitué de 2 fichiers d’information sur l’état en cours et de 3 cartes de synthèse nationale à J, J+1.\n\nLes fichiers obtenus sont ceux de la diffusion de la Vigilance la plus récente (en cours).\n"}],"paths":{"/textesvigilance/encours":{"get":{"tags":["ProduitsVigilance"],"summary":"Télécharger le fichier JSON \"bulletin\" de Vigilance, de niveau national, zonal et départemental","description":"Télécharger le fichier JSON \"bulletin\" de Vigilance, de niveau national, zonal et départemental","parameters":[],"responses":{"200":{"description":"ok"},"404":{"description":"fichier non disponible étant donné la situation de Vigilance"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/cartevigilance/encours":{"get":{"tags":["ProduitsVigilance"],"summary":"Télécharger le fichier JSON \"carte\" de Vigilance, contenant les prévisions de risque, dont la chronologie des phénomènes, de niveau national et départemental\n","description":"Télécharger le fichier JSON \"carte\" de Vigilance, contenant les prévisions de risque, dont la chronologie des phénomènes, de niveau national et départemental","parameters":[],"responses":{"200":{"description":"ok"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/vignettenationale-J/encours":{"get":{"tags":["ProduitsVigilance"],"summary":"Télécharger la vignette PNG de la carte nationale de Vigilance du jour J à haute définition","description":"Télécharger la vignette PNG de la carte nationale de Vigilance du jour J à haute définition","parameters":[],"responses":{"200":{"description":"ok"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/vignettenationale-J1/encours":{"get":{"tags":["ProduitsVigilance"],"summary":"Télécharger la vignette PNG de la carte nationale de Vigilance du jour J+1 à haute définition","description":"Télécharger la vignette PNG de la carte nationale de Vigilance du jour J+1 à haute définition","parameters":[],"responses":{"200":{"description":"ok"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/vignettenationale-J-et-J1/encours":{"get":{"tags":["ProduitsVigilance"],"summary":"Télécharger la vignette PNG de la carte nationale de Vigilance des jours J et J+1 à haute définition","description":"Télécharger la vignette PNG de la carte nationale de Vigilance des jours J et J+1 à haute définition","parameters":[],"responses":{"200":{"description":"ok"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"PydanticProperty":{"title":"Property","required":["abstract","filter","kind_of_quantity","name","title","type","uom"],"type":"object","properties":{"name":{"title":"Name","type":"string","description":"The name of the property in output or you can use as filter"},"type":{"title":"Type","type":"string","description":"Type of the property: INTEGER, REAL, TEXT OR JSON_STRUCT"},"uom":{"title":"Uom","type":"string","description":"Unit Of Measurement of the propery (UCUM value)"},"kind_of_quantity":{"title":"Kind Of Quantity","type":"string","description":"Kind of quantity (UCUM value)"},"title":{"title":"Title","type":"string","description":"Title of the property"},"abstract":{"title":"Abstract","type":"string","description":"Abstract of the property"},"filter":{"title":"Filter","type":"boolean","description":"If this property can be used as a filter"}},"example":{"name":"lon","type":"REAL","uom":"deg","kind_of_quantity":"plane_angle","title":"Longitude","abstract":"longitude in degrees","filter":true}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"type":"string"}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://public-api.meteofrance.fr/authorize","scopes":{}}}}}}}
