


.install {
    background :   #80ffac;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }
   
   .e {
   
    width : 5px ;
    height :  6px;
   
    
   }
   
   .file {
    background :   #2b82ff;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }
  
  
  .site {
    background :   #ff4055;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }
  
  
  
   .app {
       
       background : whitesmoke;
       color : black;
       padding : 0 50px;
       border-radius : 25px ;
       
   }
  
   .page{
    background :   #5cddc6;
    padding : 10px 17px ;
    color :black;
    border-radius : 50px ;
    text-align : center;
    
   }







 .gg-arrow-down-o {

 box-sizing: border-box;

 position: relative;

 display: block;

 width: 22px;

 height: 22px;

 border: 2px solid;

 transform: scale(var(--ggs,1));

 border-radius: 20px

}

.gg-arrow-down-o::after,

.gg-arrow-down-o::before {

 content: "";

 display: block;

 box-sizing: border-box;

 position: absolute;

 bottom: 4px

}

.gg-arrow-down-o::after {

 width: 6px;

 height: 6px;

 border-bottom: 2px solid;

 border-left: 2px solid;

 transform: rotate(-45deg);

 left: 6px

}

.gg-arrow-down-o::before {

 width: 2px;

 height: 10px;

 left: 8px;

 background: currentColor

} 




























 .gg-arrow-top-right-r {

 box-sizing: border-box;

 position: relative;

 display: block;

 width: 22px;

 height: 22px;

 border: 2px solid;

 transform: scale(var(--ggs,1));

 border-radius: 4px

}

.gg-arrow-top-right-r::after,

.gg-arrow-top-right-r::before {

 content: "";

 display: block;

 box-sizing: border-box;

 position: absolute;

 right: 4px

}

.gg-arrow-top-right-r::after {

 width: 10px;

 height: 2px;

 background: currentColor;

 transform: rotate(-45deg);

 bottom: 8px

}

.gg-arrow-top-right-r::before {

 width: 6px;

 height: 6px;

 top: 4px;

 border-top: 2px solid;

 border-right: 2px solid

} 


























 
 .gg-file {

 box-sizing: border-box;

 position: relative;

 display: block;

 transform: scale(var(--ggs,1));

 width: 14px;

 height: 16px;

 border: 2px solid transparent;

 border-right: 0;

 border-top: 0;

 box-shadow: 0 0 0 2px;

 border-radius: 1px;

 border-top-right-radius: 4px;

 overflow: hidden

}

.gg-file::after {

 content: "";

 display: block;

 box-sizing: border-box;

 position: absolute;

 width: 6px;

 height: 6px;

 border-left: 2px solid;

 border-bottom: 2px solid;

 right: -1px;

 top: -1px

} 




.up {

  width: 20px;
  height: 20px;
  border-radius: 50px;
  
  }
  
  .botn {
  Color: black;
  background : #D2D1CD;
  Border-radius: 50px;
  Padding : 10px 50px;
  font-size : 15px;
  line-height: 2em;
  
  
  }







