:root {

  --primColor: #eaeef6;

  --secoColor: #eaeeg9;

  --cornerRad: 4px;

}

body {

  background-color: var(--primColor);

  font-family: Arial, Helvetica, sans-serif;

  font-size: 20px;

}

details {

  margin: 40px;

}

summary {

  -ms-writing-mode: tb-lr;

      writing-mode: vertical-lr;

  text-align: center;

  padding: 12px 10px;

  width: 23px;

  height: 17px;

  background-color: var(--primColor);

  border: 2px solid var(--secoColor);

  border-radius: var(--cornerRad);

  color: var(--secoColor);

  cursor: pointer;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;

  outline: none;

  transition: transform 200ms ease-in-out 0s;

}

summary::before,

summary::after {

  position: static;

  top: 0;

  left: 0;

}

summary::before {

  content: "";

}

summary::after {

  content: "III";

  letter-spacing: -1px;

}

summary:hover {

  transform: scale(1.1);

}

summary::marker {

  font-size: 0;

}

summary::-webkit-details-marker {

  display: none;

}

details[open] .menu {

  -webkit-animation-name: menuAnim;

          animation-name: menuAnim;

}

details[open] summary::before {

  content: "X";

}

details[open] summary::after {

  content: "";

}

.menu {

  height: 0;

  width: -webkit-fit-content;

  width: -moz-fit-content;

  width: fit-content;

  border-radius: var(--cornerRad);

  background-color: var(--primColor);

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);

  margin-top: 8px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  overflow: hidden;

  -webkit-animation: closeMenu 300ms ease-in-out forwards;

          animation: closeMenu 300ms ease-in-out forwards;

}

.menu a {

  padding: 12px 24px;

  margin: 0 16px;

  color: var(--secoColor);

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  text-decoration: none;

  text-align: center;

  transition: filter 200ms linear 0s;

}

.menu a:nth-of-type(1) {

  padding-top: 24px;

}

.menu a:nth-last-of-type(1) {

  border-bottom: none;

}

.menu a:hover {

  filter: brightness(200%);

}

details::before {

  content: "←Menue";

  color: var(--secoColor);

  position: absolute;

  margin-left: 80px;

  padding: 10px 10px;

  opacity: 0.4;

}

details[open]::before {

  -webkit-animation: fadeMe 300ms linear forwards;

          animation: fadeMe 300ms linear forwards;

}

@-webkit-keyframes menuAnim {

  0% {

    height: 0;

  }

  100% {

    height: 312px;

  }

}

@keyframes menuAnim {

  0% {

    height: 0;

  }

  100% {

    height: 312px;

  }

}

@-webkit-keyframes fadeMe {

  0% {

    opacity: 0.4;

  }

  100% {

    opacity: 0;

  }

}

@keyframes fadeMe {

  0% {

    opacity: 0.4;

  }

  100% {

    opacity: 0;

  }











}
























.install {

    background :   #80ffac;

    padding : 10px 17px ;

    color :black;

    border-radius : 50px ;

    text-align : center;

    

   }

   

   .e {

   

    width : 5px ;

    height :  6px;

   

    

   }

   

   .file {

    background :   #2b82ff;

    padding : 10px 17px ;

    color :black;

    border-radius : 50px ;

    text-align : center;

    

   }

  

  

  .site {

    background :   #ff4055;

    padding : 10px 17px ;

    color :black;

    border-radius : 50px ;

    text-align : center;

    

   }

  

  

  

   .app {

       

       background : whitesmoke;

       color : black;

       padding : 0 50px;

       border-radius : 25px ;

       

   }

  

   .page{

    background :   #5cddc6;

    padding : 10px 17px ;

    color :black;

    border-radius : 50px ;

    text-align : center;

    

   }




.white{

background : #ffffff;

color: #353535;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.blue {

background : #345fe1;

color: #353535;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.green {

background : #6deb84;

color: #353535;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.red {

background : #f85555;

color: #353535;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.black{

background : #353535;

color: #d0d0d0;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.yellow {

background : #f3ff70;

color: #353535;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.gray {

background : #3d3d3d;

color: #cbcbcb;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.purple {

background :  #b372f1;

color: #3d3d3d;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.tiktok {

background: linear-gradient(70deg, #5a5aff, #ff536f);

color: #3d3d3d;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}

.lspdfr {

background: linear-gradient(70deg, #3939bf, #4b4344);

color: #717171;

padding : 15px 35px;

border-radius : 59px;

text-decoration: none;

}



.infonb {

      

      background : #F4516D;

      color : black;

      border-radius: 50px;

     padding: 15px 55px;

            

      }


